@font-face {
  font-family:'ProximaNova-Black';
  src: url('../fonts/Proxima Nova Black.eot');
src: url('../fonts/Proxima Nova Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima Nova Black.woff2') format('woff2'),
  url('../fonts/Proxima Nova Black.woff') format('woff'),
  url('../fonts/Proxima Nova Black.ttf') format('truetype'),
  url('../fonts/Proxima Nova Black.otf') format('opentype'),
  url('../fonts/Proxima Nova Black.svg#Proxima Nova Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'ProximaNova-ExtraBold';
  src: url('../fonts/Proxima Nova Extrabold.eot');
src: url('../fonts/Proxima Nova Extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima Nova Extrabold.woff2') format('woff2'),
  url('../fonts/Proxima Nova Extrabold.woff') format('woff'),
  url('../fonts/Proxima Nova Extrabold.ttf') format('truetype'),
  url('../fonts/Proxima Nova Extrabold.otf') format('opentype'),
  url('../fonts/Proxima Nova Extrabold.svg#Proxima Nova Extrabold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'ProximaNova-Bold';
  src: url('../fonts/Proxima Nova Bold.eot');
src: url('../fonts/Proxima Nova Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima Nova Bold.woff2') format('woff2'),
  url('../fonts/Proxima Nova Bold.woff') format('woff'),
  url('../fonts/Proxima Nova Bold.ttf') format('truetype'),
  url('../fonts/Proxima Nova Bold.otf') format('opentype'),
  url('../fonts/Proxima Nova Bold.svg#Proxima Nova Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'ProximaNova-Regular';
  src: url('../fonts/Proxima Nova Regular.eot');
src: url('../fonts/Proxima Nova Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima Nova Regular.woff2') format('woff2'),
  url('../fonts/Proxima Nova Regular.woff') format('woff'),
  url('../fonts/Proxima Nova Regular.ttf') format('truetype'),
  url('../fonts/Proxima Nova Regular.otf') format('opentype'),
  url('../fonts/Proxima Nova Regular.svg#Proxima Nova Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'ProximaNova-Light';
  src: url('../fonts/Proxima Nova Light.eot');
src: url('../fonts/Proxima Nova Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima Nova Light.woff2') format('woff2'),
  url('../fonts/Proxima Nova Light.woff') format('woff'),
  url('../fonts/Proxima Nova Light.ttf') format('truetype'),
  url('../fonts/Proxima Nova Light.otf') format('opentype'),
  url('../fonts/Proxima Nova Light.svg#Proxima Nova Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

