$base-ff: 'ProximaNova-Regular', sans-serif;
$light-ff: 'ProximaNova-Light', sans-serif;
$bold-ff: 'ProximaNova-Bold', sans-serif;
$extrabold-ff: 'ProximaNova-ExtraBold', sans-serif;
$black-ff: 'ProximaNova-Black', sans-serif;
$base-font-weight: 400;

$base-border-radius: 10px;

$base-color:#000D21;
$base-bgc:#fff;

$default-transition: all 0.2s linear;