/*
================================================================================
|                                     CONTENT                                   |
================================================================================
*/

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	-ms-flex-direction: column;
	justify-content:space-between;
	background-color: #fff;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 25px 0 25px;
	margin: 0 auto;
	position: relative;
}
.content {
	flex-grow: 1;
}

/* titles */
p{
	@include font($base-font-size,$base-line-height,$text-color);
	font-family: $custom-font-family;
	padding: 15px 0 15px 0;
	font-weight: 300;
}
h1{
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/*========================SLICK-CAROUSEL======================*/
.slick-wrap {
	background-color: #fff;
	opacity: 0.2;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
}

.slick-carousel {
	&__item {
		width: 100%;
		height: 100vh;
		&_1 {
			background: url(../img/background-1.jpg) no-repeat center;
			background-size: cover;
		}
		&_2 {
			background: url(../img/background-2.jpg) no-repeat center;
			background-size: cover;
		}
		&_3 {
			background: url(../img/background-1.jpg) no-repeat center;
			background-size: cover;
		}
		&_4 {
			background: url(../img/background-4.jpg) no-repeat center;
			background-size: cover;
		}
	}
}

/*==========================ABOUT-US===========================*/
.about-us {
	&__info >* {
		font-size: 15px;
		line-height: 20px;
	}
	p {
		padding: 10px 0;
	}
	.tel {
		font-weight: 500;
	}
	&__title {
		font-size: 16px;
		font-weight: 400;
		flex-basis: 100%;
		margin: 15px 0;
	}
	&__catalog {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__assortment {
		flex-basis: 100%;
		margin-bottom: 10px;
		cursor: pointer;
		transition: .5s;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		&:hover {
			opacity: .6;
		}
	}
	&__type-of-number {
		margin-top: 10px;
	}
}


/*==========================ORDER-FORM==========================*/
.order-form {
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 30px 0;
	&__item {
		flex-basis: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 10px 0;
		input {
			width: 100% !important;
			height: 35px;
			padding: 10px;
			flex-grow: 1;
			border: 1px solid #9d9d9d;
			background-color: #fff;
		}
		&_date {
			position: relative;
		}
		&_type-number {
			.man-1,
			.man-1 .jq-selectbox__select-text {
				background: url(../img/man-1.png) no-repeat;
				background-position: 10px 50%;
				background-size: contain;
			}
			.man-2,
			.man-2 .jq-selectbox__select-text {
				background: url(../img/man-2.png) no-repeat;
				background-position: 10px 50%;
				background-size: contain;
			}
			.jq-selectbox li.man-1 {
				padding-left: 30px;
			}
			.jq-selectbox li.man-2 {
				padding-left: 65px;
			}
			.jq-selectbox li:hover {
				background-color: #888;
			}
			.jq-selectbox li {
				margin-top: 5px;
			}
			.jq-selectbox__select-text {
				height: 100%;
				display: flex;
				align-items: center;
				padding-left: 5px;
				background-color: #fff;
			}
			.jq-selectbox__select {
				padding: 5px;
				background-color: #fff;
			}
			.jq-selectbox__dropdown {
				padding: 5px;
			}
			.man-1 .jq-selectbox__select-text {
				padding-left: 30px;
			}
			.man-2 .jq-selectbox__select-text {
				padding-left: 65px;
			}
		}
		&_family-members {
			.jq-selectbox__select {
				height: 35px;
				padding: 8px 10px;
				background-color: #fff;
			}
		}
		&_wrap-family-members {
			margin-bottom: 0 !important;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	&__label {
		flex-basis: 115px;
		font-weight: 400;
		white-space: nowrap;
		flex-shrink: 0;
	}
	&__additional-services {
		flex-basis: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	&__subtitle {
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
	}
	&__price {
		font-size: 16px;
		font-weight: 400;
		flex-basis: auto;
		span {
			margin-left: 5px;
			font-weight: 500;
			font-size: 22px;
		}
	}
	&__btn {
		outline: none;
		border: none;
		height: 55px;
		padding: 0 45px;
		background-color: #642121;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		transition: background-color .5s;
		&:hover {
			background-color: lighten(#642121, 15%);
		}
	}
}

.ui-datepicker-trigger {
	position: absolute;
	right: 3%;
	top: 15%;
	cursor: pointer;
}

.checkbox-1 {
	cursor:pointer;
	font-weight: 400;
	&__check {
		display: block;
		position: relative;
		padding: 5px 10px 9px 30px;
		transition: all .5s;
		border: 1px solid transparent;
		&:hover {
			border: 1px solid #aa4141;
		}
	}
	&__check:before {
		display: inline-block;
		content: '';
		position: absolute;
		left: 10px;
		top: 33%;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 2px solid #9d9d9d;
	}

	input {
		display: none;

		&:checked ~ .checkbox-1__check {
			display: inline-block;
			background-color: #aa4141;
			color: #fff;
		}
		&:checked + .checkbox-1__check:before {
			width: 15px;
			height: 10px;
			border: none;
			top: 33%;
			background: url(../img/icons/checked.png) no-repeat center;
		}
	}
}

/*=======loader======*/
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}
/*=======loader======*/


@media screen and (min-width:500px) {
	.about-us__assortment {
		flex-basis: 48%;
	}
	.order-form__item {
		&_label-size-sm {
			.order-form__label {
				flex-basis: 50px;
			}
		}
		&_label-flex-gr {
				flex-grow: 1;
		}
		&_label-size-sm {
			.order-form__label {
				flex-basis: 60px;
				margin-left: 30px;
			}
		}
	}
	.order-form__item_date,
	.order-form__item_family-members {
		flex-basis: 45%;
	}

	.order-form__item_type-number {
		flex-basis: 55%;
	}

	.order-form__item_family-members:last-child {
		.order-form__label {
			margin-left: 40px;
			flex-basis: 50px;
		}
	}
}

@media screen and (min-width:768px) {
	.about-us__assortment {
		flex-basis: 31%;
	}
	.order-form__additional-services {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.order-form__price,
	.order-form__subtitle {
		flex-basis: 100%;
	}
}

@media screen and (min-width:992px) {
	.about-us__catalog {
		width: 90%;
	}
	.content {
		.wrapper {
			display: flex;
			align-items: flex-start;
		}
	}
	.about-us {
		flex-basis: 49%;
	}
	.order-form {
		flex-basis: 38%;
		margin: 20px 0 0 65px;

		&__item {
			margin: 0 0 18px 0;
		}
		&__subtitle {
			margin: 30px 0 5px 0;
		}
		&__price {
			margin: 30px 0 0 0;
		}
	}
	.order-form__item_type-number {
		flex-basis: 100%;
	}
}

@media screen and (min-width:1200px) {
	.order-form__item_type-number,
	.order-form__item_wrap-family-members {
		flex-basis: 70%;
	}
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/