.main-content {
  position: relative;
  overflow: hidden;
}

.decoration-line {
  position: absolute;
  width: calc(100% - 60px);
  max-width: calc(1172px - 60px);
  left: 30px;
  top: 0;
  bottom: 0;
  opacity: 0.2;
  border: 1px solid #D9DFE6;

  @include _1172 {
    left: calc(50% - (1172px - 60px) / 2);
  }

  @include _1440 {
    max-width: 1172px;
    left: calc(50% - 1172px / 2);
  }

  &::after {
    content:"";
    position: absolute;
    left: calc(50% - 1px / 2);
    width: 1px;
    height: 100%;
    background-color: #D9DFE6;
  }
}

.service {
  padding: 90px 0 85px 0;
  background-color: #233148;
  overflow: hidden;

  @include _1440 {
    padding: 133px 0 345px 0;
  }
}

.tails {
  display: grid;
  grid-row-gap: 42.33px;

  @include _920 {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  @include _1440 {
    margin-left: 100px;
    justify-items: unset;
    grid-row-gap: 103.33px;
  }

  &__img {
    margin-bottom: 15px;
    width: 36px;
    height: 36px;

    @include _1440 {
      width: 54px;
      height: 54px;
    }
  }

  &__title {
    font-family: $bold-ff;
    color: #fff;
    font-size: 22px;
    line-height: 26.8px;
    letter-spacing: 0.44px;
    margin-bottom: 24px;

    @include _1440 {
      font-size: 32px;
      line-height: 38.98px;
      letter-spacing: 0.64px;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-family: $light-ff;
    color: #8796AE;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    max-width: 400px;

    @include _1440 {
      max-width: 440px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.36px;
    }
  }
}

.block-download {
  position: relative;
  z-index: 1;
  background-color: #1F65D9;
  width: 100%;
  margin-bottom: 90px;

  @include _1440 {
    max-width: 1307px;
    top: -152px;
    margin-bottom: 19px;
  }

  @include _1920 {
    max-width: 1546px;
  }

  .wrap-content {
    @include _1440 {
      margin-right: 0;
    }
  }

  &__wrap {
    padding: 195px 0 84px 0;
    position: relative;
    

    @include _920 {
      max-width: 430px;
      padding: 71px 0 93px 0;
      display: grid;
      grid-template-columns: 230px 1fr;
    }

    @include _1440 {
      max-width: 585px;
      padding: 63px 0 100px 0;
    }
  }

  &__title {
    font-family: $extrabold-ff;
    font-size: 22px;
    line-height: 26.8px;
    letter-spacing: 0.64px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 31px;
    position: relative;

    @include _1440 {
      font-size: 32px;
      line-height: 38.94px;
    }
    
    &::after {
      content:"";
      display: block;
      position: absolute;
      top: 4px;
      left: -30px;
      width: 196px;
      height: 229px;
      background-image: url("../img/icons/logo-document.png");
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.2;

      @include _920 {
        left: 0;
      }

      @include _1440 {
        width: 238px;
        height: 278px;
        left: 4px;
      }
    }
  }

  &__text {
    font-family: $base-ff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #fff;
    max-width: 190px;

    @include _920 {
      display: block;
      padding-top: 36px;
      justify-self: flex-end;
      width: 100%;
      padding-right: 74px;
    }

    @include _1440 {
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.48px;
      max-width: 290px;
      padding-top: 40px;
    }
  }

  &__journal {
    position: absolute;
    right: -166px;
    top: -53px;
    width: 464px;
    height: 412px;
    z-index: 2;

    @include _1440 {
      width: 677px;
      height: 601px;
      right: -27px;
      top: -77px;
    }
  }

  &__btn {
    position: absolute;
    width: 100%;
    height: 54px;
    max-width: 280px;
    left: calc(50% - 280px / 2);
    bottom: -27px;
    background: #FCCF18;
    font-family: $bold-ff;
    font-size: 16px;
    line-height: 19.49px;
    text-transform: uppercase;

    @include _1440 {
      max-width: 390px;
      height: 74px;
      left: calc(50% - 390px / 2);
      font-size: 22px;
      line-height: 26.8px;
      letter-spacing: 0.46px;
      bottom: -39px;
    }
  }
}