// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-hover-name: 'arrow-hover';
$arrow-hover-x: 306px;
$arrow-hover-y: 210px;
$arrow-hover-offset-x: -306px;
$arrow-hover-offset-y: -210px;
$arrow-hover-width: 13px;
$arrow-hover-height: 23px;
$arrow-hover-total-width: 324px;
$arrow-hover-total-height: 308px;
$arrow-hover-image: '../img/sprite.png';
$arrow-hover: (306px, 210px, -306px, -210px, 13px, 23px, 324px, 308px, '../img/sprite.png', 'arrow-hover', );
$arrow-top-name: 'arrow-top';
$arrow-top-x: 62px;
$arrow-top-y: 257px;
$arrow-top-offset-x: -62px;
$arrow-top-offset-y: -257px;
$arrow-top-width: 26px;
$arrow-top-height: 14px;
$arrow-top-total-width: 324px;
$arrow-top-total-height: 308px;
$arrow-top-image: '../img/sprite.png';
$arrow-top: (62px, 257px, -62px, -257px, 26px, 14px, 324px, 308px, '../img/sprite.png', 'arrow-top', );
$arrow-name: 'arrow';
$arrow-x: 108px;
$arrow-y: 284px;
$arrow-offset-x: -108px;
$arrow-offset-y: -284px;
$arrow-width: 13px;
$arrow-height: 23px;
$arrow-total-width: 324px;
$arrow-total-height: 308px;
$arrow-image: '../img/sprite.png';
$arrow: (108px, 284px, -108px, -284px, 13px, 23px, 324px, 308px, '../img/sprite.png', 'arrow', );
$chat-name: 'chat';
$chat-x: 0px;
$chat-y: 284px;
$chat-offset-x: 0px;
$chat-offset-y: -284px;
$chat-width: 23px;
$chat-height: 24px;
$chat-total-width: 324px;
$chat-total-height: 308px;
$chat-image: '../img/sprite.png';
$chat: (0px, 284px, 0px, -284px, 23px, 24px, 324px, 308px, '../img/sprite.png', 'chat', );
$chat-hover-name: 'chat_hover';
$chat-hover-x: 28px;
$chat-hover-y: 284px;
$chat-hover-offset-x: -28px;
$chat-hover-offset-y: -284px;
$chat-hover-width: 23px;
$chat-hover-height: 24px;
$chat-hover-total-width: 324px;
$chat-hover-total-height: 308px;
$chat-hover-image: '../img/sprite.png';
$chat-hover: (28px, 284px, -28px, -284px, 23px, 24px, 324px, 308px, '../img/sprite.png', 'chat_hover', );
$close-name: 'close';
$close-x: 135px;
$close-y: 257px;
$close-offset-x: -135px;
$close-offset-y: -257px;
$close-width: 14px;
$close-height: 14px;
$close-total-width: 324px;
$close-total-height: 308px;
$close-image: '../img/sprite.png';
$close: (135px, 257px, -135px, -257px, 14px, 14px, 324px, 308px, '../img/sprite.png', 'close', );
$close-img-name: 'close_img';
$close-img-x: 116px;
$close-img-y: 257px;
$close-img-offset-x: -116px;
$close-img-offset-y: -257px;
$close-img-width: 14px;
$close-img-height: 14px;
$close-img-total-width: 324px;
$close-img-total-height: 308px;
$close-img-image: '../img/sprite.png';
$close-img: (116px, 257px, -116px, -257px, 14px, 14px, 324px, 308px, '../img/sprite.png', 'close_img', );
$envelope-name: 'envelope';
$envelope-x: 93px;
$envelope-y: 257px;
$envelope-offset-x: -93px;
$envelope-offset-y: -257px;
$envelope-width: 18px;
$envelope-height: 14px;
$envelope-total-width: 324px;
$envelope-total-height: 308px;
$envelope-image: '../img/sprite.png';
$envelope: (93px, 257px, -93px, -257px, 18px, 14px, 324px, 308px, '../img/sprite.png', 'envelope', );
$pagination-name: 'pagination';
$pagination-x: 313px;
$pagination-y: 180px;
$pagination-offset-x: -313px;
$pagination-offset-y: -180px;
$pagination-width: 7px;
$pagination-height: 13px;
$pagination-total-width: 324px;
$pagination-total-height: 308px;
$pagination-image: '../img/sprite.png';
$pagination: (313px, 180px, -313px, -180px, 7px, 13px, 324px, 308px, '../img/sprite.png', 'pagination', );
$range-name: 'range';
$range-x: 0px;
$range-y: 0px;
$range-offset-x: 0px;
$range-offset-y: 0px;
$range-width: 166px;
$range-height: 252px;
$range-total-width: 324px;
$range-total-height: 308px;
$range-image: '../img/sprite.png';
$range: (0px, 0px, 0px, 0px, 166px, 252px, 324px, 308px, '../img/sprite.png', 'range', );
$search-name: 'search';
$search-x: 126px;
$search-y: 284px;
$search-offset-x: -126px;
$search-offset-y: -284px;
$search-width: 15px;
$search-height: 15px;
$search-total-width: 324px;
$search-total-height: 308px;
$search-image: '../img/sprite.png';
$search: (126px, 284px, -126px, -284px, 15px, 15px, 324px, 308px, '../img/sprite.png', 'search', );
$select-name: 'select';
$select-x: 313px;
$select-y: 198px;
$select-offset-x: -313px;
$select-offset-y: -198px;
$select-width: 7px;
$select-height: 5px;
$select-total-width: 324px;
$select-total-height: 308px;
$select-image: '../img/sprite.png';
$select: (313px, 198px, -313px, -198px, 7px, 5px, 324px, 308px, '../img/sprite.png', 'select', );
$stars-name: 'stars';
$stars-x: 248px;
$stars-y: 180px;
$stars-offset-x: -248px;
$stars-offset-y: -180px;
$stars-width: 20px;
$stars-height: 60px;
$stars-total-width: 324px;
$stars-total-height: 308px;
$stars-image: '../img/sprite.png';
$stars: (248px, 180px, -248px, -180px, 20px, 60px, 324px, 308px, '../img/sprite.png', 'stars', );
$success-name: 'success';
$success-x: 171px;
$success-y: 180px;
$success-offset-x: -171px;
$success-offset-y: -180px;
$success-width: 72px;
$success-height: 72px;
$success-total-width: 324px;
$success-total-height: 308px;
$success-image: '../img/sprite.png';
$success: (171px, 180px, -171px, -180px, 72px, 72px, 324px, 308px, '../img/sprite.png', 'success', );
$telegram-name: 'telegram';
$telegram-x: 31px;
$telegram-y: 257px;
$telegram-offset-x: -31px;
$telegram-offset-y: -257px;
$telegram-width: 26px;
$telegram-height: 22px;
$telegram-total-width: 324px;
$telegram-total-height: 308px;
$telegram-image: '../img/sprite.png';
$telegram: (31px, 257px, -31px, -257px, 26px, 22px, 324px, 308px, '../img/sprite.png', 'telegram', );
$telegram-hover-name: 'telegram_hover';
$telegram-hover-x: 0px;
$telegram-hover-y: 257px;
$telegram-hover-offset-x: 0px;
$telegram-hover-offset-y: -257px;
$telegram-hover-width: 26px;
$telegram-hover-height: 22px;
$telegram-hover-total-width: 324px;
$telegram-hover-total-height: 308px;
$telegram-hover-image: '../img/sprite.png';
$telegram-hover: (0px, 257px, 0px, -257px, 26px, 22px, 324px, 308px, '../img/sprite.png', 'telegram_hover', );
$truck-name: 'truck';
$truck-x: 273px;
$truck-y: 180px;
$truck-offset-x: -273px;
$truck-offset-y: -180px;
$truck-width: 35px;
$truck-height: 25px;
$truck-total-width: 324px;
$truck-total-height: 308px;
$truck-image: '../img/sprite.png';
$truck: (273px, 180px, -273px, -180px, 35px, 25px, 324px, 308px, '../img/sprite.png', 'truck', );
$user-name: 'user';
$user-x: 171px;
$user-y: 0px;
$user-offset-x: -171px;
$user-offset-y: 0px;
$user-width: 153px;
$user-height: 175px;
$user-total-width: 324px;
$user-total-height: 308px;
$user-image: '../img/sprite.png';
$user: (171px, 0px, -171px, 0px, 153px, 175px, 324px, 308px, '../img/sprite.png', 'user', );
$viber-name: 'viber';
$viber-x: 56px;
$viber-y: 284px;
$viber-offset-x: -56px;
$viber-offset-y: -284px;
$viber-width: 21px;
$viber-height: 24px;
$viber-total-width: 324px;
$viber-total-height: 308px;
$viber-image: '../img/sprite.png';
$viber: (56px, 284px, -56px, -284px, 21px, 24px, 324px, 308px, '../img/sprite.png', 'viber', );
$viber-hover-name: 'viber_hover';
$viber-hover-x: 82px;
$viber-hover-y: 284px;
$viber-hover-offset-x: -82px;
$viber-hover-offset-y: -284px;
$viber-hover-width: 21px;
$viber-hover-height: 24px;
$viber-hover-total-width: 324px;
$viber-hover-total-height: 308px;
$viber-hover-image: '../img/sprite.png';
$viber-hover: (82px, 284px, -82px, -284px, 21px, 24px, 324px, 308px, '../img/sprite.png', 'viber_hover', );
$wallet-name: 'wallet';
$wallet-x: 273px;
$wallet-y: 210px;
$wallet-offset-x: -273px;
$wallet-offset-y: -210px;
$wallet-width: 28px;
$wallet-height: 28px;
$wallet-total-width: 324px;
$wallet-total-height: 308px;
$wallet-image: '../img/sprite.png';
$wallet: (273px, 210px, -273px, -210px, 28px, 28px, 324px, 308px, '../img/sprite.png', 'wallet', );
$spritesheet-width: 324px;
$spritesheet-height: 308px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-hover, $arrow-top, $arrow, $chat, $chat-hover, $close, $close-img, $envelope, $pagination, $range, $search, $select, $stars, $success, $telegram, $telegram-hover, $truck, $user, $viber, $viber-hover, $wallet, );
$spritesheet: (324px, 308px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
