
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	-ms-flex-direction: column;
	justify-content:flex-start;	
	-webkit-justify-content:flex-start;	
	-ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
	font-family: 'Solomon Sans';
	font-weight: normal;
	font-style: normal;
}

/* titles */

// h1 {	
	// 	@include font($font-size-h1,$line-height-h1,$title-color);
	// 	font-family: $title-font-family;
	// 	padding: 15px 0 15px 0;
	// 	font-weight: 400;	
	// }
	h2{
		@include font($font-size-h2,$line-height-h2,$title-color);
		font-family: $title-font-family;
		padding: 15px 0 15px 0;
		font-weight: 400;	
	}
	h3{
		@include font($font-size-h3,$line-height-h3,$title-color);
		font-family: $title-font-family;
		padding: 15px 0 15px 0;
		font-weight: 400;
	}

	/* text position */
	.text-left{text-align: left!important}
	.text-center{text-align: center!important}
	.text-right{text-align: right!important}
	.nowrap{white-space: nowrap!important;}


	/* loader */
	.loaded .main-wrapper{visibility:hidden;}
	.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
	.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
	width: 100%;
	// order: 2;
	// -webkit-order: 2;
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.screen-1 {
	background-color: #fff;
	background: url('../img/banner_home.png') no-repeat center 100%/cover;


	&__wrapper {
		padding: 93px 90px 94px 50px;
		display: flex;
		justify-content: space-between;
	}

	&__left {

		.btn {
			height: 49px;
			margin-top: 6px;
			width: 200px;
			display: inline-block;
			line-height: 22px;
		}
		.home-title  {
			color: #4c5474;
			font-size: 48px;
			font-weight: 600;
			line-height: 52px;
			padding-top: 108px;
			letter-spacing: -1.2px;
			z-index: 3;
			position: relative;
			display: block;

			span {
				font-size: 16px;
				font-weight: 400;
				line-height: 75px;
				letter-spacing: .2px;
				display: block;
			}
		}
	}

	&__order  {
		width: 365px;
		background-color: white;
		border-radius: 9px;
		box-shadow: 0 5px 49px rgba(6, 7, 59, 0.1);
		padding: 42px 32px 52px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			color: #4c5474;
			font-size: 25px;
			font-weight: 600;
			line-height: 16px;
			margin-bottom: 30px;
		} 

		.btn {
			width: 100%;
			max-width: 194px;
		}

		.note {
			color: #848ca2;
			font-size: 14px;
			font-weight: 300;
			line-height: 16px;
			margin: 34px 0 32px;
			width: 100% ;
		}
	}
}


.left-menu {
	width: 309px;
	border: 4px solid $base-bg;
	border-left-width: 7px;

	&__wrapper {
		background-color: #fff;
		border-radius: 5px;

	}

	&__item {
		padding: 29px 43px 35px;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 42px;
			right: 42px;
			border-bottom: 1px solid #e0e4f3;
		}

		.title {
			color: #4c5474;
			font-size: 16px;
			font-weight: 600;
			line-height: 16px;
			position: relative;
			cursor: pointer;
			letter-spacing: 0.5px;
			&:before {
				content: "";
				position: absolute;
				left: -45px;
				top: -5px;
				width: 29px;
				height: 24px;
				background-color: #e0eefe;
				border-radius: 2px;
			}

			&:after {
				content: "";
				background-image: url(../img/icons/select.png);
				width: 7px;
				height: 5px;
				background-size: cover;
				right: 0;
				position: absolute;
				top: 6px;
			}

			&.active {
				&:after {
					transform: rotate(180deg);
				}
			}

			&.no-arrow {
				&:after {
					display: none;
				}
			}
		}
	}

	&__list {
		margin-top: 25px;
		list-style: none;
		padding-left: 14px;
		padding-bottom: 10px;
		li {
			color: #7f859c;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			position: relative;
			padding-left: 11px;
			&:hover {
				color: $blue;
				a {
					color: $blue;
				}
			}
			&:before {
				content: "-";
				position: absolute;
				left: 0;
				top: 0;
			}

			a {
				color: #7f859c;
				display: inline-block;
			}
		}
	}
}


.left-menu__item:last-child {
	&:after {
		display: none;
	}
}

.top-univercities {
	.title {
		color: #272b3b;
		font-size: 16px;
		font-weight: 600;
		padding: 32px 45px;
		line-height: 14px;
		display: block;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: -7px;
			right: 0;
			background-color: #e0eefe;
			border-radius: 5px;
			width: 263px;
			z-index: 0;
		}

		span {
			position: relative;
			z-index: 1;
			letter-spacing: .5px;
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin-top: 10px;
		li a {
			display: flex;
			align-items: center;
			padding: 14px 45px;
			line-height: 23px;
			border-bottom: 1px solid $base-bg;
			img {
				max-width: 42px;
				max-height: 42px;
				margin-right: 21px;
				filter: grayscale(100%);
				transition: $default-transition;
			}
			span {
				color: #7f859c;
				font-size: 14px;
				font-weight: 400;

			}

			&:hover {
				span {
					color: $blue;
				}

				img {
					filter: grayscale(0);
				}
			}
		}
	}

	&__logo {
		padding: 30px 15px 35px;
		img {
			display: block;
			max-width: 100%;
			margin: auto;
		}
	}
}


.content {
	&__wrapper {
		display: flex;
	}

	&__wrapper-mt {
		margin-top: 45px;
	}

	&__body {
		border-top: 4px solid $base-bg;
		width: calc(100% - 309px);
		overflow-x: hidden;
		background-color: #fff;

		&_wrapper {
			background-color: #fff;
			min-height: 150px;
			border-radius: 5px;
			padding: 97px 90px 90px;
			position: relative;
			overflow: hidden;
		}

		&_wrapper-sm-padding {
			padding: 77px 67px 77px;
		}
	}
}

.our-advantages {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	color: #636363;
	font-size: 14px;
	padding-top: 8px;
	li {
		width: 50%;
		position: relative;
		letter-spacing: -.4px;
		padding-left: 30px;
		padding-bottom: 22px;
		span {
			display: inline-block;
		}
		&:before {
			content: "";
			color: #8080e3;
			width: 12px;
			height: 2px;
			background-color: #0101c8;
			display: inline-block;
			position: absolute;
			top: 6px;
			left: 0;
		}
	}
}


.diplomas {
	&__list {
		display: flex;
		flex-wrap: wrap;

		margin: 15px -36px 0;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 30px rgba(7, 1, 12, 0.07);
		padding: 27px 20px 20px;

		&_wrapper {
			padding: 14px;
			width: 33.33333%;
		}

		img {
			display: block;
			max-width: 100%;
		}

		&_link {
			color: #151515;
			font-size: 15px;
			font-weight: 700;
			line-height: 21px;
			display: block;
			text-align: center;
			margin-top: 15px;
			width: 100%;
			word-break: break-all;
			word-wrap: break-word;
		}

		&_title-sm {
			color: #0c0c0c;
			font-size: 14px;
			font-weight: 400;
			font-style: italic;
			line-height: 23px;
			margin-top: 7px;
		}

		&_footer {
			border-top: 1px solid #e0e4f3;
			color: black;
			font-size: 17px;
			font-weight: 600;
			line-height: 14px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 15px;
			margin-top: 13px;
			width: 100%;
			.btn {
				height: 31px;
				padding: 6px 17px;
				margin-left: 7px;
				width: 101px;
				line-height: 13px;
			}
		}
	}
}

// table prices

.table-prices {
	display: flex;
	flex-direction: column;
	margin: 0 -30px 0;

	&__header {
		height: 63px;
		background-color: #616885;
		border-radius: 5px;
		color: white;
		font-size: 15px;
		font-weight: 900;
		display: flex;
		margin-bottom: 20px;
	}

	&__row {
		display: flex;
		border-radius: 5px;
		box-shadow: 0 0 15px rgba(4, 9, 42, 0.05);

		.title {
			color: #595f7b;
			font-size: 14px;
			line-height: 20px;
			font-weight: 600;

			span {
				font-weight: 400;
				font-style: italic;
			}
		}


		.prices {
			color: black;
			font-size: 17px;
			font-weight: 600;
			line-height: 24px;

			.btn {
				margin-top: 18px;
				display: block;
				max-width: 115px;
				width: 100%;
				height: 31px;
				padding: 6px 12px;
			}
		}
	}

	&__td {
		width: 25%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 18px 30px;
		&:first-child {
			width: 50%;
			align-items: flex-start;
		}

		img {
			max-height: 88px;
			display: block;
			max-width: 100%;
		}
	}

}


.table-prices-home {
	margin-top: 100px;
}


.table-prices-margin {
	margin-top: 55px;
}


.center-button {
	max-width: 234px;
	width: 100%;
	margin: 60px auto 0;
	display: block;
}

.review-slider {
	position: relative;
	height: 225px;
	margin-top: 80px;
	.swiper-container, .swiper-wrapper {
		height: 100%;
		padding-top: 10px;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: white;
		border-radius: 5px;
		box-shadow: 0 0 35px rgba(48, 55, 83, 0.13);
		padding: 30px 30px 25px;
		overflow: hidden;

		&:after {
			content: '';
			background-image: url('../img/icons/user.png');
			width: 153px;
			height: 175px;
			position: absolute;
			right: -50px;
			z-index: 0;			
		}
	}

	.swiper-slide {
		width: 413px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
		z-index: 1;
		&_date {
			color: #4c5474;
			font-size: 12px;
			font-weight: 400;
			line-height: 54px;
		}

		&_info {
			display: flex;
			flex-direction: column;

			.name {
				color: #4c5474;
				font-size: 16px;
				font-weight: 600;
				line-height: 25px;
			}

			.rating {
			}
		}
	}

	&__text {
		color: #7b7b7c;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		position: relative;
		z-index: 1;
	}
}

.swipper-arrow {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 13px;
	height: 23px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	background-repeat: no-repeat;
	background-image: url(../img/icons/arrow.png);
	&:hover {
		background-image: url(../img/icons/arrow-hover.png);
	}

}

.swiper-button-next {
	right: -50px;
	transform: rotate(180deg);

}

.swiper-button-prev {
	left: -50px;

}

.review__rating {
	background-color: white;
	border: 1px solid #d1d1d1;
	border-radius: 21px;
	padding: 12px 20px;
	width: 100%;
	margin-top: 8px;
	color: #b7b7b8;
	font-size: 14px;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
}

// send message

.send-message {
	opacity: 0;
	transition: $default-transition;

	position: fixed;
	right: 10.5%;
	z-index: 100;
	width: 365px;
}

.send-message__button {
	position: relative;
	z-index: 1;
	width: 229px;
	height: 42px;
	background-color: #2a56f9;
	border-radius: 21px 21px 0px 0px;
	box-shadow: 0 0 20px rgba(21, 33, 80, 0.2);
	padding: 14px;
	position: relative;
	color: white;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid transparent;
	margin: auto;
	display: block;

	&:before {
		content: "";
		background-image: url(../img/icons/envelope.png);
		background-repeat: no-repeat;
		width: 18px;
		height: 14px;
		margin-right: 10px;
		display: inline-block;
		position: relative;
		top: 2px;
	}
}


.fixed-send-message {
	opacity: 1;
}

.bottom-message__form {
	position: relative;
	bottom: -42px;
	z-index: 2;
	width: 100%;
	background-color: #fff;
	border-radius: 9px;
	box-shadow: 0 5px 49px rgba(6, 7, 59, 0.1);
	padding: 43px 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 589px;
}

.bottom-message {
	display: none;
	&.active {
		display: block;
	}
}

.top-button {
	width: 62px;
	height: 62px;
	box-shadow: 0 10px 20px rgba(26, 51, 93, 0.1);
	background: url(../img/icons/arrow-top.png) no-repeat center center;
	background-color: white;
	border-radius: 50%;
	opacity: 0;
	transition: $default-transition;	
}

.fixed-top-button {
	position: fixed;
	right: 9.4%;
	opacity: 1;
	z-index: 101;
}

// prices

.prices {
	&__image {
		img {
			display: block;
			max-width: 100%;
			margin: auto;
		}
	}

	&__screen-1 {
		background: none;
		background-color: #fff;

		.screen-1__left .home-title  {
			padding-top: 150px;
		}

		.screen-1__wrapper {
			padding: 39px 33px 50px 50px;
		}
	}
}

// page history

.page {
	&__history {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 2px solid #f0f7ff;
		padding: 16px 20px;
		list-style: none;
		display: flex;
		li {
			position: relative;
			a {
				color: #4c5474;
				font-size: 11px;
				font-weight: 400;
				line-height: 22px;
				padding-right: 23px;
			}

			&:last-child {
				a {
					color: $blue;
				}
			}

			&:not(:last-child) {
				&:after {
					content: "";
					width: 4px;
					height: 5px;
					position: absolute;
					right: 10px;
					top: 7px;
					transform: rotate(-90deg);
					background: url(../img/icons/select.png) no-repeat 100% 100%/contain;
					
				}
			}
		}
	}
} 

.filter {
	padding-bottom: 105px;
	&__kind {
		margin: 37px 0 48px;
	}
	&__year {
		padding-right: 15px;
		&_title {
			color: #4c5474;
			font-size: 16px;
			font-weight: 400;
		}

		&_header {
			display: flex;
			justify-content: space-between;
			padding: 33px 0 14px;
		}
	}
}

// product
.product {
	&__wrapper {
		display: flex;
		justify-content: space-between;

		.screen-1__order {
			width: 355px;
			padding: 40px 30px 40px;
		}

	}

	&__body {
		display: flex;
		flex-direction: column;
		max-width: 392px;
	}

	&__title {
		color: black;
		font-size: 30px;
		font-weight: 600;
		letter-spacing: 0.8px;
	}

	&__title-sm {
		color: black;
		font-size: 18px;
		margin-top: 20px;
		display: block;
	}

	&__image {
		border: 1px solid #e0eefe;
		border-radius: 3px;
		margin-top: 30px;
		padding: 25px;
		img {
			display: block;
			margin: auto;
			max-height: 280px;
			max-width: 100%;
			box-shadow: 0 5px 49px rgba(6, 7, 59, 0.1);
		}
	}

	&__prices {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e0eefe;
		padding: 30px 0;
		.title {
			color: #39393a;
			font-size: 25px;
			font-weight: 300;
		}

		.count {
			font-size: 25px;
			font-weight: 600;
			line-height: 16px;
		}
	}

	&__description {
		color: #838383;
		font-size: 14px;
		line-height: 20px;
		margin-top: 25px;
	}
} 

// delivery

.delivery {
	&__title {
		position: relative;
		color: #656c87;
		font-size: 25px;
		font-weight: 400;
		line-height: 38px;
		display: flex;
		align-items: center;
		padding: 23px 0;
		span {
			z-index: 1;
			position: relative;
		}
		.money {
			background: url('../img/icons/wallet.png') no-repeat 100% 100%;
			width: 28px;
			height: 28px;
			display: inline-block;
			margin-right: 20px;
		}

		.truck {
			background: url('../img/icons/truck.png') no-repeat 100% 100%;
			width: 35px;
			height: 25px;
			display: inline-block;
			margin-right: 20px;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 0;
			left: -100%;
			bottom: 0;
			top: 0;
			right: -100%;
			background-color: #f7fbff;
		}

	}

	&__title-mt {
		margin-top: 65px;

	}
	&__title-gray {
		padding-top: 12px;
		display: block;
		color: #6c7596;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	&__list {
		color: #505050;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		list-style: none;
		margin: 20px 0 15px;
		li {
			margin-bottom: 20px;
		}
	}
}

.company {
	&__icon {
		display: block;
		margin: 70px auto 100px;

		img {
			display: block;
			margin: auto;
			max-width: 100%;
		}
	}
	p {
		margin-top: 25px;
	}
}

// maps

.contacts {
	&__info {
		position: relative;
		padding: 22px 0;
		color: #4c5474;
		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 0;
			left: -100%;
			right: -100%;
			background-color: #f7fbff;
		}
		a {
			color: #4c5474;
		}
		span {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			b {
				margin-top: 15px;
			}
		}
	}

	&__maps {
		height: 395px;
		width: 100%;
		margin-top: 30px;
	}

	&__description {
		padding-top: 52px;
	}

}

.content__body_contacts {
	padding-bottom: 0;
}

// 

.error {
	&__wrapper {
		background-color: #f9fcff;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 25vh 30px 15vh;
		position: relative;

	}

	&__title {
		color: #4c5474;
		font-size: 41px;
		font-weight: 700;
		display: block;
		margin: 65px 0 20px;
	}


	&__img {
		max-width: 100%;
	}

	&__title-sm {
		color: #4c5474;
		font-size: 16px;
		font-weight: 400;
	}
	&__btn {
		max-width: 210px;
		width: 100%;
		margin-top: 5.5vh;
	}
}

// 

.diplomas__list_title {
	color: #4c5474;
	font-size: 20px;
	font-weight: 600;
	line-height: 19px;
	position: relative;
	display: block;
	width: 100%;
	margin: 70px 0 30px; 
	span {
		background-color: #fff;
		padding-right: 30px;
		position: relative;
		z-index: 2;
	}

	&:after {
		content: "";
		border-bottom: 1px solid #e0eefe;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		z-index: 1;

	}
}

// pagination


.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 35px;

	&__arrow {
		background: url('../img/icons/pagination.png') no-repeat 100% 100%;
		display: block;
		width: 7px;
		height: 13px;
		border: none;
		padding: 5px;
		position: relative;
		&.next {
			top: 1px;
			transform: rotate(180deg);
			margin-left: 10px;
		}

		&.prev {
			margin-right: 10px;
		}
	}
	&__list {
		display: flex;
		list-style: none;
		li {
			&:hover {
				a {
					color: $blue;
				}
			}
			a {
				font-size: 18px;
				font-weight: 600;
				color: #c5c7d0;
				padding: 5px 10px;
				border-radius: 50%;
				display: block;
				min-width: 29px;
				text-align: center;

				&.active {
					color: #fff;
					background-color: #c2c5d3;
				}
			}

		}
	}
}


@media screen and (max-width: 1600px) {
	.send-message {
		right: 25px;
	}

	.fixed-top-button {
		right: 15px;
	}

	.error__wrapper {
		padding: 15vh 30px;
	}
}

@media screen and (max-width: 1300px) {
	.diplomas__item {
		padding: 20px 15px 20px;
	}

	.diplomas__item_footer {
		font-size: 15px;

		.btn {
			width: 82px;
		}
	}

	.product__body {
		padding-right: 30px;
	}
}

@media screen and (max-width: 1200px) {
	.content__body_wrapper {
		padding: 97px 40px 90px;
	}

	.fancybox-img-wrap .fancybox-close {
		right: -21px;
	}

	.title-general_mt, .table-prices-home {
		margin-top: 60px
	}

	.screen-1__wrapper {
		padding: 80px 0px 60px 0;
	}


	.prices__screen-1 .screen-1__wrapper {
		padding: 39px 0 50px 0;
	}
	.our-advantages {
		li {
			line-height: 14px;
			padding-bottom: 15px;
		}
	}

	.diplomas__list {
		margin: 15px -26px 0;
	}

	.diplomas__item {
		padding: 15px 12px 15px;
		&_wrapper {
			padding: 5px;

		}
	}

	.table-prices__td {
		padding: 14px 12px;
	}

	.swiper-button-next {
		right: -30px;
	}

	.swiper-button-prev {
		left: -30px;
	}

	.product__wrapper .screen-1__order {
		width: 300px;
	}

}

@media screen and (max-width: 1024px) {
	.content__body_wrapper {
		padding: 50px 40px 50px;
	}

	.content__body_history {
		padding-top: 90px;
	}

	.hr-general {
		margin: 30px 0 30px;
	}

	.title-general {
		margin-bottom: 25px;
	}

	.review-slider {
		margin-top: 50px;
	}

	.our-advantages {
		li {
			width: 100%;
		}
	}

	.content__body {
		width: calc(100% - 250px;);
	}

	.left-menu {
		width: 250px;

		&__item {
			padding: 20px 20px 20px;
		}
	}

	.filter {
		padding-bottom: 105px;
	}

	.top-univercities {
		.title {
			padding: 32px 20px;
			&:before {
				width: auto;
			}
		}

		ul li a {
			padding: 14px 15px;
		}
	} 


	.left-menu__item .title:before {
		left: -25px;
		top: -3px;
		width: 20px;
		height: 20px;
	}

	.prices__screen-1 .screen-1__left .home-title  {
		padding-top: 90px;
	}

}

@media screen and (max-width: 991px) {
	.diplomas__item_wrapper {
		width: 50%;
	}

	.diplomas__item_footer {
		justify-content: space-around;
	}

	.screen-1__left .home-title  {
		font-size: 36px;
		line-height: 45px;
		padding-top: 25px;

		span {
			line-height: 14px;
			margin-top: 20px;
		}
	}

	.screen-1__order {
		width: 310px;
		padding: 35px 20px 40px;
	}

	.product__wrapper .screen-1__order {
		padding: 35px 20px 40px;
	}

	.title-general {
		font-size: 32px;
		line-height: 1.2;
	}

	.screen-1__left .home-title  span {
		font-size: 14px;
	}

	.table-prices__td {
		width: 30%;
		&:first-child {
			width: 40%;
		}
	}


	.review-slider {
		height: auto;
		margin: 30px -25px 0;
		.swiper-slide {
			width: 100%;
			padding: 0 25px 25px;
		}
	}

	.swiper-button-next {
		right: -5px;
	}

	.swiper-button-prev {
		left: -5px;
	}

	.prices__image {
		width: 40%;
	}

	.prices__screen-1 .screen-1__left .home-title  {
		padding-top: 45px;
	}

	.product__body {
		width: 100%;
		padding-right: 0;
		max-width: 100%;
		margin-bottom: 30px;
	}

	.product__wrapper {
		justify-content: center;
		flex-direction: column;
		form {
			width: 100%;
		}
		.screen-1__order {
			max-width: 350px;
			margin: auto;
			width: 100%;
		}
	}

	.contacts__info {
		flex-direction: column;
		span {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			b {
				margin-top: 0;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.send-message {
		display: none;
		opacity: 0;
	}

	.content__body_wrapper {
		padding: 30px 30px 30px;
	}

	.content__body_history {
		padding-top: 70px;
	}

	.title-general {
		font-size: 28px;
	}


	.swipper-arrow {
		top: auto;
		bottom: -25px;
	}

	.swiper-button-next {
		right: 40%;
	}

	.swiper-button-prev {
		left: 40%;
	}

	.left-menu {
		width: 200px;
	}

	.content__body {
		width: calc(100% - 200px);
	}


	.left-menu__list {
		padding-left: 0;

		li {
			font-size: 13px;
		}
	}

	.top-univercities .title {
		padding: 20px 10px;
	}

	.top-univercities ul li a {
		padding: 12px 10px;
	}

	.top-univercities ul li a img {
		margin-right: 7px;
	}


	.page__history {
		padding: 8px 30px;
	}

	.table-prices {
		margin-left: -20px;
		margin-right: -20px;
	}

	.table-prices__row .prices .btn {
		padding: 6px;
	}

	.prices__screen-1 .screen-1__left .home-title  {
		padding-top: 14px;
	}

	.product__title {
		font-size: 26px;
	}

	.product__prices {
		.count, .title {
			font-size: 20px;
		}
	}

	.content__wrapper-mt {
		margin-top: 0;
	}

	.delivery__title {
		font-size: 20px;
		padding: 10px;
	}


	.error {
		&__wrapper {
			padding: 45px 30px;
		}
		&__title {
			font-size: 25px;
		}

	}

	.description-general-mt {
		margin-top: 40px;
	}
}


@media screen and (max-width: 680px) {
	.table-prices__row {
		flex-wrap: wrap;
	}

	.table-prices__td {
		width: 50%;
		&:first-child {
			width: 100%;
			align-items: center;
			text-align: center;
		}
	}

	.screen-1__wrapper {
		flex-wrap: wrap;

		form {
			width: 100%;
		}
	}

	.screen-1__order {
		margin: 80px auto 0;
		width: 100%;
		max-width: 400px;
	}

	.screen-1__left {
		width: 100%;
		.home-title  {
			max-width: 400px;
			font-size: 30px;
			line-height: 35px;
			margin: auto;
			text-align: center;
			br {
				display: none;
			}

			span {
				display: block;
				margin: 15px auto 0;
			}
		}

		.btn {
			display: block;
			margin: 10px auto 0;
		}
	}

	.content__wrapper {
		flex-wrap: wrap;
	}

	.left-menu, .content__body {
		width: 100%;
	}

	.top-univercities {
		display: none;
	}

	.left-menu {
		border-left-width: 4px;
	}

	.wrapper {
		padding: 0 15px;
	}

	.screen-1__wrapper {
		padding: 15px 0px 30px 0;
	}

	.prices__screen-1 .screen-1__wrapper {
		padding: 15px 0 100px 0;
	}

	.prices__image {
		position: absolute;
		right: 15px;
		top: 0;
		bottom: 0;
		z-index: 0;
		width: 68%;

		img {
			max-height: 100%;
			margin: 0 0 0 auto;
		}
	}

	.title-general {
		font-size: 24px;
	}

	.our-advantages li {
		white-space: pre-wrap;
	}

	.content__body_wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}


	.page__history {
		padding: 8px 15px;
	}

	.diplomas__item_wrapper {
		width: 100%;
	}

	.table-prices__header {
		display: none;
	}

	.table-prices-home {
		margin: 50px 0 0;
	}

	.popup__body {
		padding: 40px 15px 40px;
		min-width: 100%;
	}

	.popup__title {
		font-size: 20px;
	}

	.filter {
		padding-bottom: 20px;

		.filter__year {
			padding-bottom: 60px;
		}
	}

	.product__image {
		padding: 10px;
		img {
			box-shadow: none;
		}
	}

}



