// $base-text-color:#11263C;
// $base-bg-color:#fff;
$base-font-family: 'Rubik', sans-serif;
$light-font-family: 'Rubik-light', sans-serif;
$medium-font-family: 'Rubik-medium', sans-serif;
$bold-font-family: 'Rubik-bold', sans-serif;
$base-font-weight: 400;
$base-border-radius: 8px;

$color-white: #fff;
$color-black: #1C1C1C;
$color-light-black: #11263C;
$color-gray: #707070;
$color-blue: #357ECD;
$color-light-blue: #4F98CF;
$color-orange: #F35C01;

$font-size-h1: 76px;
$font-size-h2: 43px;
$font-size-h3: 24px;

$base-color-btn: $color-orange;
$hover-color-btn:#A73F00;
$pressed-color-btn:#762D00;
$disabled-color-btn:#997661;

$default-transition: all 0.3s linear;