@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothaprobol.eot"); /* IE9 */
    src: url("../fonts/gothaprobol.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/gothaprobol.woff") format("woff"), /* chrome, firefox */
    url("../fonts/gothaprobol.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/gothaprobol.svg#Gotham Pro") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 700;
}



@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothapromed.eot"); /* IE9 */
    src: url("../fonts/gothapromed.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/gothapromed.woff") format("woff"), /* chrome, firefox */
    url("../fonts/gothapromed.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/gothapromed.svg#Gotham Pro Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 500;
}



@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothaproreg.eot"); /* IE9 */
    src: url("../fonts/gothaproreg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/gothaproreg.woff") format("woff"), /* chrome, firefox */
    url("../fonts/gothaproreg.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/gothaproreg.svg#Gotham Pro") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 400;
}


