@font-face {
	font-family: 'Museo-Sans';
	src: url('../fonts/museo_sans_cyrl_900.eot');
	src: url('../fonts/museo_sans_cyrl_900.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/museo_sans_cyrl_900.woff2') format('woff2'),
		 url('../fonts/museo_sans_cyrl_900.woff') format('woff'),
		 url('../fonts/museo_sans_cyrl_900.ttf') format('truetype'),
		 url('../fonts/museo_sans_cyrl_900.svg#museo_sans_cyrl900') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Robot';
	src: url('../fonts/roboto-bold.eot');
	src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/../fonts/roboto-bold.woff2') format('woff2'),
		 url('../fonts/../fonts/roboto-bold.woff') format('woff'),
		 url('../fonts/../fonts/roboto-bold.ttf') format('truetype'),
		 url('../fonts/../fonts/roboto-bold.svg#robotobold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-light.eot');
	src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto-light.woff2') format('woff2'),
		 url('../fonts/roboto-light.woff') format('woff'),
		 url('../fonts/roboto-light.ttf') format('truetype'),
		 url('../fonts/roboto-light.svg#robotolight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-medium.eot');
	src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/../fonts/roboto-medium.woff2') format('woff2'),
		 url('../fonts/../fonts/roboto-medium.woff') format('woff'),
		 url('../fonts/../fonts/roboto-medium.ttf') format('truetype'),
		 url('../fonts/../fonts/roboto-medium.svg#robotomedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-regular.eot');
	src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto-regular.woff2') format('woff2'),
		 url('../fonts/roboto-regular.woff') format('woff'),
		 url('../fonts/roboto-regular.ttf') format('truetype'),
		 url('../fonts/roboto-regular.svg#robotoregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../img/icons-fonts/icomoon.eot?vxpp0g');
  src:  url('../img/icons-fonts/icomoon.eot?vxpp0g#iefix') format('embedded-opentype'),
	url('../img/icons-fonts/icomoon.ttf?vxpp0g') format('truetype'),
	url('../img/icons-fonts/icomoon.woff?vxpp0g') format('woff'),
	url('../img/icons-fonts/icomoon.svg?vxpp0g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*============ICONS-FONTS============*/

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #333333;
  text-align: center;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu2:before {
	content: "\e900";
	font-size: 25px;
}
.icon-check:before {
	content: "\e901";
}
.icon-date:before {
	content: "\e902";
	color: #545454;
}
.icon-fb:before {
	content: "\e903";
}
.icon-vk:before {
	content: "\e909";
}
.icon-instagram:before {
	content: "\e904";
}
.icon-people_1:before {
	content: "\e905";
	font-size: 25px;
}
.icon-people_2:before {
	content: "\e906";
	font-size: 25px;
	display: inline-block;
}
.icon-people_3:before {
	content: "\e907";
	color: #fff;
}
.icon-tel:before {
	content: "\e908";
	color: #373737;
}
/*============ICONS-FONTS============*/