$base-ff: 'Assistant', sans-serif;
$semibold-ff: 'Assistant-semi-bold', sans-serif;
$bold-ff: 'Assistant-bold', sans-serif;
$extrabold-ff: 'Assistant-extra-bold', sans-serif;
$base-font-weight: 400;

$base-border-radius: 10px;

$dark-blue:#000D21;
$base-bgc:#fff;
$bgc-light-gray: #F1F6FC;
$bgc-button: #001950;
$white: #fff;
$black: #2F2F2F;

$default-transition: all 0.2s linear;