/* reset */
/* main variables */
body { margin: 0px; padding: 0px; font-family: Arial, sans-serif; font-family: "exo_2", sans-serif; font-weight: 300; background-color: #f7f7f9; height: 100%; line-height: 1; position: relative; font-size: 13px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; font-family: Arial, sans-serif; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #0e93c0; -webkit-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: "exo_2", sans-serif; }

a, span, div, button { outline: none !important; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; font-family: "exo_2", sans-serif; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "exo_2", sans-serif; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

/*.clearfix:after,
.wrapper:after,
.row:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}*/
@font-face { font-family: 'exo_2black'; src: url("../fonts/../fonts/exo2-black.eot"); src: url("../fonts/../fonts/exo2-black.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-black.woff2") format("woff2"), url("../fonts/../fonts/exo2-black.woff") format("woff"), url("../fonts/../fonts/exo2-black.ttf") format("truetype"), url("../fonts/../fonts/exo2-black.svg#exo_2black") format("svg"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'exo_2black'; src: url("../fonts/../fonts/exo2-blackitalic.eot"); src: url("../fonts/../fonts/exo2-blackitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-blackitalic.woff2") format("woff2"), url("../fonts/../fonts/exo2-blackitalic.woff") format("woff"), url("../fonts/../fonts/exo2-blackitalic.ttf") format("truetype"), url("../fonts/../fonts/exo2-blackitalic.svg#exo_2black_italic") format("svg"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-bold.eot"); src: url("../fonts/../fonts/exo2-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-bold.woff2") format("woff2"), url("../fonts/../fonts/exo2-bold.woff") format("woff"), url("../fonts/../fonts/exo2-bold.ttf") format("truetype"), url("../fonts/../fonts/exo2-bold.svg#exo_2bold") format("svg"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-bolditalic.eot"); src: url("../fonts/../fonts/exo2-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-bolditalic.woff2") format("woff2"), url("../fonts/../fonts/exo2-bolditalic.woff") format("woff"), url("../fonts/../fonts/exo2-bolditalic.ttf") format("truetype"), url("../fonts/../fonts/exo2-bolditalic.svg#exo_2bold_italic") format("svg"); font-weight: 700; font-style: italic; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-extrabold.eot"); src: url("../fonts/../fonts/exo2-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-extrabold.woff2") format("woff2"), url("../fonts/../fonts/exo2-extrabold.woff") format("woff"), url("../fonts/../fonts/exo2-extrabold.ttf") format("truetype"), url("../fonts/../fonts/exo2-extrabold.svg#exo_2extra_bold") format("svg"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-extrabolditalic.eot"); src: url("../fonts/../fonts/exo2-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-extrabolditalic.woff2") format("woff2"), url("../fonts/../fonts/exo2-extrabolditalic.woff") format("woff"), url("../fonts/../fonts/exo2-extrabolditalic.ttf") format("truetype"), url("../fonts/../fonts/exo2-extrabolditalic.svg#exo_2extra_bold_italic") format("svg"); font-weight: 800; font-style: italic; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-extralight.eot"); src: url("../fonts/../fonts/exo2-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-extralight.woff2") format("woff2"), url("../fonts/../fonts/exo2-extralight.woff") format("woff"), url("../fonts/../fonts/exo2-extralight.ttf") format("truetype"), url("../fonts/../fonts/exo2-extralight.svg#exo_2extra_light") format("svg"); font-weight: 200; font-style: normal; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-extralightitalic.eot"); src: url("../fonts/../fonts/exo2-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-extralightitalic.woff2") format("woff2"), url("../fonts/../fonts/exo2-extralightitalic.woff") format("woff"), url("../fonts/../fonts/exo2-extralightitalic.ttf") format("truetype"), url("../fonts/../fonts/exo2-extralightitalic.svg#exo_2extra_light_italic") format("svg"); font-weight: 200; font-style: italic; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-italic.eot"); src: url("../fonts/../fonts/exo2-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-italic.woff2") format("woff2"), url("../fonts/../fonts/exo2-italic.woff") format("woff"), url("../fonts/../fonts/exo2-italic.ttf") format("truetype"), url("../fonts/../fonts/exo2-italic.svg#exo_2italic") format("svg"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-light.eot"); src: url("../fonts/../fonts/exo2-light.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-light.woff2") format("woff2"), url("../fonts/../fonts/exo2-light.woff") format("woff"), url("../fonts/../fonts/exo2-light.ttf") format("truetype"), url("../fonts/../fonts/exo2-light.svg#exo_2light") format("svg"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-lightitalic.eot"); src: url("../fonts/../fonts/exo2-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-lightitalic.woff2") format("woff2"), url("../fonts/../fonts/exo2-lightitalic.woff") format("woff"), url("../fonts/../fonts/exo2-lightitalic.ttf") format("truetype"), url("../fonts/../fonts/exo2-lightitalic.svg#exo_2light_italic") format("svg"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-medium.eot"); src: url("../fonts/../fonts/exo2-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-medium.woff2") format("woff2"), url("../fonts/../fonts/exo2-medium.woff") format("woff"), url("../fonts/../fonts/exo2-medium.ttf") format("truetype"), url("../fonts/../fonts/exo2-medium.svg#exo_2medium") format("svg"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-mediumitalic.eot"); src: url("../fonts/../fonts/exo2-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-mediumitalic.woff2") format("woff2"), url("../fonts/../fonts/exo2-mediumitalic.woff") format("woff"), url("../fonts/../fonts/exo2-mediumitalic.ttf") format("truetype"), url("../fonts/../fonts/exo2-mediumitalic.svg#exo_2medium_italic") format("svg"); font-weight: 500; font-style: italic; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-regular.eot"); src: url("../fonts/../fonts/exo2-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-regular.woff2") format("woff2"), url("../fonts/../fonts/exo2-regular.woff") format("woff"), url("../fonts/../fonts/exo2-regular.ttf") format("truetype"), url("../fonts/../fonts/exo2-regular.svg#exo_2regular") format("svg"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-semibold.eot"); src: url("../fonts/../fonts/exo2-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-semibold.woff2") format("woff2"), url("../fonts/../fonts/exo2-semibold.woff") format("woff"), url("../fonts/../fonts/exo2-semibold.ttf") format("truetype"), url("../fonts/../fonts/exo2-semibold.svg#exo_2semi_bold") format("svg"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-semibolditalic.eot"); src: url("../fonts/../fonts/exo2-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-semibolditalic.woff2") format("woff2"), url("../fonts/../fonts/exo2-semibolditalic.woff") format("woff"), url("../fonts/../fonts/exo2-semibolditalic.ttf") format("truetype"), url("../fonts/../fonts/exo2-semibolditalic.svg#exo_2semi_bold_italic") format("svg"); font-weight: 600; font-style: italic; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-thin.eot"); src: url("../fonts/../fonts/exo2-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-thin.woff2") format("woff2"), url("../fonts/../fonts/exo2-thin.woff") format("woff"), url("../fonts/../fonts/exo2-thin.ttf") format("truetype"), url("../fonts/../fonts/exo2-thin.svg#exo_2thin") format("svg"); font-weight: 100; font-style: normal; }

@font-face { font-family: 'exo_2'; src: url("../fonts/../fonts/exo2-thinitalic.eot"); src: url("../fonts/../fonts/exo2-thinitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/exo2-thinitalic.woff2") format("woff2"), url("../fonts/../fonts/exo2-thinitalic.woff") format("woff"), url("../fonts/../fonts/exo2-thinitalic.ttf") format("truetype"), url("../fonts/../fonts/exo2-thinitalic.svg#exo_2thin_italic") format("svg"); font-weight: 100; font-style: italic; }

@font-face { font-family: 'roboto-bold'; src: url("../fonts/roboto-bold.eot"); src: url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype"), url("../fonts/roboto-bold.svg#robotobold") format("svg"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'icomoon'; src: url("../fonts/../img/icons-fonts/icomoon.eot?ddbsyc"); src: url("../fonts/../img/icons-fonts/icomoon.eot?ddbsyc#iefix") format("embedded-opentype"), url("../fonts/../img/icons-fonts/icomoon.ttf?ddbsyc") format("truetype"), url("../fonts/../img/icons-fonts/icomoon.woff?ddbsyc") format("woff"), url("../fonts/../img/icons-fonts/icomoon.svg?ddbsyc#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-arrow:before { content: "\e902"; }

.icon-star:before { content: "\e900"; }

.icon-check:before { content: "\e901"; }

.icon-logo:before { content: "\e903"; color: #fff; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header { background: -webkit-gradient(linear, left top, right top, from(#1bafe2), to(#13c685)); background: -webkit-linear-gradient(left, #1bafe2 0%, #13c685 100%); background: -o-linear-gradient(left, #1bafe2 0%, #13c685 100%); background: linear-gradient(to right, #1bafe2 0%, #13c685 100%); width: 100%; min-width: 320px; text-align: left; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; -webkit-order: 1; }

.header { padding: 15px 0 20px 0; margin-bottom: 27px; }

.header .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.header__logo { margin-top: 5px; margin-bottom: -5px; font-size: 57px; margin-right: 22px; }

.header__name { color: white; font-family: 'roboto-bold'; font-size: 24px; font-weight: 700; line-height: 32px; }

.header__description { font-size: 20px; font-weight: 300; line-height: 32px; padding: 0; margin-left: 30px; }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer { background-color: #1c2732; text-align: left; width: 100%; min-width: 320px; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; -webkit-order: 3; }

.footer { padding: 30px 0; }

.footer .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.footer__copyright { color: #999; font-size: 20px; font-weight: 300; line-height: 28px; margin-right: 30px; }

.footer__link-list { font-size: 20px; font-weight: 300; line-height: 28px; }

.footer__link { color: #0e93c0; margin-left: 32px; }

.footer__link:hover { color: #e67d7a; }

.footer__link:first-child { margin-left: 0; }

/*
================================================================================
|                                     CONTENT                                   |
================================================================================
*/
.main-wrapper { padding: 0 0 0 0; min-width: 320px; width: 100%; position: relative; overflow: hidden; min-height: 100%; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; -webkit-justify-content: flex-start; -ms-flex-pack: start; }

.wrapper { min-width: 320px; max-width: 1300px; padding: 0 40px 0 40px; margin: 0 auto; position: relative; }

/* titles */
p { font-size: 13px; line-height: 18px; color: #000; padding: 15px 0 15px 0; font-weight: 400; }

h1 { font-size: 36px; line-height: 42px; color: #000; font-family: "exo_2", sans-serif; padding: 15px 0 15px 0; font-weight: 400; }

h2 { font-size: 32px; line-height: 37px; color: #000; font-family: "exo_2", sans-serif; padding: 15px 0 15px 0; font-weight: 400; }

h3 { font-size: 28px; line-height: 32px; color: #000; font-family: "exo_2", sans-serif; padding: 15px 0 15px 0; font-weight: 400; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.nowrap { white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper { opacity: 0; }

.icon-load { background: url(../img/loader.gif) no-repeat left top; width: 40px; height: 40px; position: fixed; left: 50%; top: 50%; margin-left: -20px; margin-left: -20px; display: none; }

.loaded .icon-load { display: block; }

.content { min-width: 320px; text-align: left; width: 100%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; -webkit-order: 2; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-grow: 1; }

/*===========Main Section===========*/
.wrap-title { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.title { font-size: 28px; font-weight: 400; padding: 12px 0 17px 0; }

.filter { font-size: 20px; font-weight: 300; line-height: 28px; color: #333; text-align: right; white-space: nowrap; position: relative; }

.filter a { color: #0e93c0; }

.filter .arrow-down { display: inline-block; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); color: #3ece9c; font-size: 14px; margin: 0 5px 0 8px; }

.filter-list { background-color: #fff; text-align: left; padding: 10px; z-index: 10; width: 100%; position: absolute; right: 0; display: none; }

.filter-list a { display: block; margin-bottom: 10px; }

.btn { border: none; background: -webkit-gradient(linear, left top, right top, from(#1bafe2), to(#13c685)); background: -webkit-linear-gradient(left, #1bafe2 0%, #13c685 100%); background: -o-linear-gradient(left, #1bafe2 0%, #13c685 100%); background: linear-gradient(to right, #1bafe2 0%, #13c685 100%); color: white; font-size: 17px; font-weight: 700; line-height: 28px; text-transform: uppercase; -webkit-border-radius: 4px; border-radius: 4px; padding: 16px 50px; margin-top: 19px; margin-bottom: 19px; -webkit-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.btn:hover { background: -webkit-gradient(linear, left top, right top, from(#fb8783), to(#fb8783)); background: -webkit-linear-gradient(left, #fb8783 0%, #fb8783 100%); background: -o-linear-gradient(left, #fb8783 0%, #fb8783 100%); background: linear-gradient(to right, #fb8783 0%, #fb8783 100%); }

.btn:active { background: -webkit-gradient(linear, left top, right top, from(#cb5d59), to(#cb5d59)); background: -webkit-linear-gradient(left, #cb5d59 0%, #cb5d59 100%); background: -o-linear-gradient(left, #cb5d59 0%, #cb5d59 100%); background: linear-gradient(to right, #cb5d59 0%, #cb5d59 100%); }

a:hover { color: #fb8784; }

.main-section { background-color: #fff; border-width: 4px; width: 100%; padding-bottom: 5px; border-style: solid; -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#37bcb0), to(#2db5e4)); -webkit-border-image: -webkit-linear-gradient(left, #37bcb0 0%, #2db5e4 100%); -o-border-image: -o-linear-gradient(left, #37bcb0 0%, #2db5e4 100%); border-image: -webkit-gradient(linear, left top, right top, from(#37bcb0), to(#2db5e4)); border-image: linear-gradient(to right, #37bcb0 0%, #2db5e4 100%); border-image-slice: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.main-section__item { -webkit-flex-basis: 200px; -ms-flex-preferred-size: 200px; flex-basis: 200px; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }

.tile { padding: 30px 35px 15px 35px; }

.tile__logo { margin: 0 auto; max-width: 110px; }

.tile__logo img { width: 100%; height: auto; }

.tile__stars { margin-top: 30px; color: #ededf0; font-size: 24px; }

.tile__stars i:nth-child(1) { color: #ffb89a; }

.tile__stars i:nth-child(2) { color: #fead95; }

.tile__stars i:nth-child(3) { color: #fd9f8e; }

.tile__stars i:nth-child(4) { color: #fc9088; }

.tile__stars i:nth-child(5) { color: #fb8583; }

.tile__stars i.disabled { color: inherit; }

.tile__rating { color: #aaa; font-size: 24px; font-weight: 300; line-height: 28px; padding-left: 10px; }

.tile__text { color: #0e93c0; font-size: 24px; line-height: 42px; padding: 5px 0 0 0; }

.tile__subtitle { color: #aaa; font-size: 17px; line-height: 28px; }

.main-info { padding: 10px 0 0px 30px; }

.main-info__price { color: #333; font-size: 32px; text-transform: uppercase; font-weight: 400; line-height: 28px; }

.main-info__price span { color: #aaa; font-size: 17px; text-transform: none; line-height: normal; padding: 0 0 0 15px; }

.main-info__description, .main-info__functions span { padding: 7px 0 18px 0; color: #333; font-size: 17px; font-weight: 300; line-height: 28px; }

.main-info__functions { width: 48%; margin-bottom: 8px; display: inline-block; position: relative; font-size: 20px; color: #14c587; }

.main-info__functions i { position: absolute; left: 0; top: 50%; width: 100%; transform: translate(0, -50%); -moz-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); }

.main-info__functions span { padding: 0 0 0 35px; white-space: nowrap; }

.main-info__functions_disabled * { color: #e5e5e5 !important; }

.main-mac { padding: 25px 0 0 0; -webkit-flex-shrink: 5; -ms-flex-negative: 5; flex-shrink: 5; overflow: hidden; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; }

.main-mac img { width: 130%; height: 100%; }

/*===========Tile-list Section===========*/
.tile-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin: 32px -15px 0 -15px; }

.tile_list-item { background-color: #fff; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07); padding: 42px 20px 5px 20px; min-width: 282px; margin-bottom: 30px; -webkit-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; margin-left: 15px; margin-right: 15px; }

.tile_list-item.active { display: block; }

.tile_list-item.hide { display: none; }

.tile_list-item:hover { -webkit-box-shadow: 0 12px 16px rgba(16, 127, 161, 0.16); box-shadow: 0 12px 16px rgba(16, 127, 161, 0.16); cursor: pointer; }

.tile_list-item:hover .tile__text { color: #fb8784; }

.tile_list-item .tile__logo { height: 110px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.tile_list-item .tile__logo img { margin: auto; }

.tile_list-item .tile__stars { margin-top: 42px; font-size: 20px; }

.tile_list-item .tile__rating { padding-left: 2px; font-size: 17px; line-height: 28px; }

.tile_list-item .tile__text { font-weight: 300; line-height: 28px; font-size: 20px; position: relative; padding: 7px 0 0 0; -webkit-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.tile_list-item .tile__subtitle { color: #aaa; font-size: 17px; line-height: 38px; }

.tile_list-item .tile__price { position: absolute; bottom: 7px; right: 0; color: black; font-size: 17px; font-weight: 300; line-height: 28px; }

.show-more { display: block; width: 100%; text-align: center; margin-bottom: 142px; padding: 22px 0; background-color: white; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07); color: #0e93c0; font-size: 20px; font-weight: 300; line-height: 28px; }

.show-more:hover { color: #fb8784; -webkit-box-shadow: 0 12px 16px rgba(16, 127, 161, 0.16); box-shadow: 0 12px 16px rgba(16, 127, 161, 0.16); cursor: pointer; }

/*
================================================================================
|                              CONTENT TEXT_PC                                  |
================================================================================
*/
.text-pc__item { background-color: #fff; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07); padding: 48px 105px 30px 105px; margin-bottom: 10px; }

.text-pc__item_flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.text-pc__item_flex .text-pc__subtitle { width: 100%; }

.text-pc__item_flex .col-2 { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; width: 50%; padding-right: 15px; list-style: none; }

.text-pc__item_flex .col-2_padd p { padding-left: 30px; }

.text-pc__item_flex .col-2:last-child { padding-left: 15px; }

.text-pc__subtitle { font-size: 28px; line-height: 36px; padding: 0 0 18px 0; }

.text-pc .check-wrap { position: absolute; left: 0; font-size: 19px; color: #14c587; }

.text-pc ol { list-style-type: none; counter-reset: item; padding-left: 30px; position: relative; }

.text-pc ol li:before { position: absolute; left: 0; content: "1." counter(item); counter-increment: item; color: #999; font-size: 17px; font-weight: 300; line-height: 28px; }

.text-pc p { padding: 0; display: block; margin-bottom: 20px; position: relative; font-size: 17px; line-height: 28px; font-weight: 300; color: #333; }

.text-pc .text-gradient { display: inline-block; background: -webkit-gradient(linear, left top, right top, from(#1bafe2), to(#13c685)); background: -webkit-linear-gradient(left, #1bafe2 0%, #13c685 100%); background: -o-linear-gradient(left, #1bafe2 0%, #13c685 100%); background: linear-gradient(to right, #1bafe2 0%, #13c685 100%); color: #fff; padding: 0 7px; }

.text-pc .text-color { color: #999; font-size: 14px; line-height: 24px; padding: 0 30px 10px 30px; }

.text-pc .text-border { border-width: 4px; padding-bottom: 5px; border-style: solid; -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#37bcb0), to(#2db5e4)); -webkit-border-image: -webkit-linear-gradient(left, #37bcb0 0%, #2db5e4 100%); -o-border-image: -o-linear-gradient(left, #37bcb0 0%, #2db5e4 100%); border-image: -webkit-gradient(linear, left top, right top, from(#37bcb0), to(#2db5e4)); border-image: linear-gradient(to right, #37bcb0 0%, #2db5e4 100%); border-image-slice: 1; padding: 20px; margin-top: 27px; }

@media screen and (max-width: 1124px) { .main-info { padding-bottom: 10px; }
  .main-info__functions { display: block; } }

@media screen and (max-width: 992px) { .tile { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  .main-info { -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 10px 30px 10px 30px; -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .main-info__functions { display: inline-block; }
  .main-mac { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .text-pc__item { padding: 48px 48px 30px 48px; }
  .text-pc__item_flex .col-2 { width: 100%; padding: 0 !important; } }

@media screen and (max-width: 767px) { .text-pc .title { font-size: 26px; }
  .text-pc__item { padding: 30px 15px 30px 15px; }
  .text-pc__subtitle { font-size: 24px; }
  .text-pc .text-color { padding: 0 10px; }
  .text-pc .text-border { padding: 10px; margin-top: 0; }
  .header__description { width: 100%; margin-left: 0; }
  .header { padding: 20px 0 20px 0; } }

@media screen and (max-width: 673px) { .tile_list-item { padding-bottom: 32px; }
  .wrapper { padding: 20px; } }

@media screen and (max-width: 658px) { .footer__copyright { padding-top: 0; } }

@media screen and (max-width: 576px) { .filter { margin-bottom: 10px; } }

@media screen and (max-width: 564px) { .main-mac { display: none; }
  .main-section { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .main-section .main-info { padding-left: 20px; padding-right: 20px; }
  .main-info__functions { display: block; }
  .tile { /*padding-bottom: 0;*/ padding: 20px 20px 0 20px; width: 100%; } }

@media screen and (max-width: 466px) { .header { padding: 0; }
  .header__name { font-size: 20px; }
  .header__description { font-size: 16px; }
  .tile__stars { font-size: 20px; }
  .tile__rating { font-size: 20px; }
  .tile__text { font-size: 20px; }
  .main-info__price { font-size: 26px; }
  .main-info__price span { font-size: 14px; }
  .footer__link { margin-left: 10px; } }

/*# sourceMappingURL=style.css.map */
