/*
================================================================================
|                                     CONTENT                                   |
================================================================================
*/

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	-ms-flex-direction: column;
	justify-content:flex-start;	
	-webkit-justify-content:flex-start;	
	-ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 40px 0 40px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;
}
h1{
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{opacity: 0;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


.content{
	min-width: $min-width;
	text-align: left;
	width: 100%;
	order: 2;
	-webkit-order: 2;
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

/*===========Main Section===========*/
.wrap-title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 28px;
	font-weight: 400;
	padding: 12px 0 17px 0;
}

.filter {
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	color: #333;
	text-align: right;
	white-space: nowrap;
	position: relative;
	a {
		color: #0e93c0;
	}
	.arrow-down {
		display: inline-block;
		transform: rotate(90deg);
		color: #3ece9c;
		font-size: 14px;
		margin: 0 5px 0 8px;
	}
}

.filter-list {
	background-color: #fff;
	text-align: left;
	padding: 10px;
	z-index: 10;
	width: 100%;
	position: absolute;
	right: 0;
	display: none;
	a {
		display: block;
		margin-bottom: 10px;
	}
}

.btn {
	border: none;
	background: linear-gradient(to right, #1bafe2 0%, #13c685 100%);
	color: white;
	font-size: 17px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 16px 50px;
	margin-top: 19px;
	margin-bottom: 19px;
	transition: $default-transition;
	&:hover {
		background: linear-gradient(to right, #fb8783 0%, #fb8783 100%);
	}
	&:active {
		background: linear-gradient(to right, #cb5d59 0%, #cb5d59 100%);
	}
}

a:hover {
	color: #fb8784;
}

.main-section {
	background-color: #fff;
	border-width: 4px;
	width: 100%;
	padding-bottom: 5px;
	border-style: solid;
	border-image: linear-gradient(to right, #37bcb0 0%, #2db5e4 100%);
	border-image-slice: 1;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	&__item {
		flex-basis: 200px;
		flex-grow: 1;
	}
}

.tile {
	padding: 30px 35px 15px 35px;
	&__logo {
		margin: 0 auto;
		max-width: 110px;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__stars {
		margin-top: 30px;
		color: #ededf0;
		font-size: 24px;
		i:nth-child(1) {
			color: #ffb89a;
		}
		i:nth-child(2) {
			color: #fead95;
		}
		i:nth-child(3) {
			color: #fd9f8e;
		}
		i:nth-child(4) {
			color: #fc9088;
		}
		i:nth-child(5) {
			color: #fb8583;
		}
		i.disabled {
			color: inherit;
		}
	}
	&__rating {
		color: #aaa;
		font-size: 24px;
		font-weight: 300;
		line-height: 28px;
		padding-left: 10px;
	}
	&__text {
		color: #0e93c0;
		font-size: 24px;
		line-height: 42px;
		padding: 5px 0 0 0;
	}
	&__subtitle {
		color: #aaa;
		font-size: 17px;
		line-height: 28px;
	}
}

.main-info {
	padding: 10px 0 0px 30px;
	&__price {
		color: #333;
		font-size: 32px;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 28px;
		span {
			color: #aaa;
			font-size: 17px;
			text-transform: none;
			line-height: normal;
			padding: 0 0 0 15px;
		}
	}
	&__description {
		padding: 7px 0 18px 0;
		color: #333;
		font-size: 17px;
		font-weight: 300;
		line-height: 28px;
	}
	&__functions {
		width: 48%;
		margin-bottom: 8px;
		display: inline-block;
		position: relative;
		font-size: 20px;
		color: #14c587;
		i {
			@include vertical_center_transform();
		}
		span {
			@extend .main-info__description;
			padding: 0 0 0 35px;
			white-space: nowrap;
		}
		&_disabled * {
			color: #e5e5e5 !important;
		}
	}
}

.main-mac {
		padding: 25px 0 0 0;
		flex-shrink: 5;
		overflow: hidden;
		flex-shrink: 0;
		img {
			width: 130%;
			height: 100%;
		}
	}

/*===========Tile-list Section===========*/

.tile-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 32px -15px 0 -15px;
}

.tile_list-item {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
	padding: 42px 20px 5px 20px;
	min-width: 282px;
	margin-bottom: 30px;
	transition: $default-transition;
	flex-grow: 1;
	margin-left: 15px;
	margin-right: 15px;
	&.active {
		display: block;
	}
	&.hide {
		display: none;
	}

	&:hover {
		box-shadow: 0 12px 16px rgba(16, 127, 161, 0.16);
		cursor: pointer;
	}
	&:hover .tile__text {
		color: #fb8784;
	}

	.tile__logo {
		height: 110px;
		display: flex;
		img {
			margin: auto;
		}
	}
	.tile__stars {
		margin-top: 42px;
		font-size: 20px;
	}
	.tile__rating {
		padding-left: 2px;
		font-size: 17px;
		line-height: 28px;
	}
	.tile__text {
		font-weight: 300;
		line-height: 28px;
		font-size: 20px;
		position: relative;
		padding: 7px 0 0 0;
		transition: $default-transition;
	}
	.tile__subtitle {
		color: #aaa;
		font-size: 17px;
		line-height: 38px;
	}
	.tile__price {
		position: absolute;
		bottom: 7px;
		right: 0;
		color: black;
		font-size: 17px;
		font-weight: 300;
		line-height: 28px;
	}
}

.show-more {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 142px;
	padding: 22px 0;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
	color: #0e93c0;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	&:hover {
		color: #fb8784;
		box-shadow: 0 12px 16px rgba(16, 127, 161, 0.16);
		cursor: pointer;
	}
}

/*
================================================================================
|                              CONTENT TEXT_PC                                  |
================================================================================
*/

.text-pc {
	&__item {
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
		padding: 48px 105px 30px 105px;
		margin-bottom: 10px;
		&_flex {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			.text-pc__subtitle {
				width: 100%;
			}
			.col-2 {
				flex-grow: 1;
				width: 50%;
				padding-right: 15px;
				list-style: none;
				&_padd {
					p {
						padding-left: 30px;
					}
				}
			}
			.col-2:last-child {
				padding-left: 15px;
			}
		}
	}
	&__subtitle {
		font-size: 28px;
		line-height: 36px;
		padding: 0 0 18px 0;
	}

	.check-wrap {
		position: absolute;
		left: 0;
		font-size: 19px;
		color: #14c587;
	}

	ol {
		list-style-type: none;
		counter-reset: item;
		padding-left: 30px;
		position: relative;
		li:before {
			position: absolute;
			left: 0;
			content: '1.' counter(item);
			counter-increment: item;
			color: #999;
			font-size: 17px;
			font-weight: 300;
			line-height: 28px;
		}
	}

	p {
		padding: 0;
		display: block;
		margin-bottom: 20px;
		position: relative;
		font-size: 17px;
		line-height: 28px;
		font-weight: 300;
		color: #333;
	}
	.text-gradient {
		display: inline-block;
		background: linear-gradient(to right, #1bafe2 0%, #13c685 100%);
		color: #fff;
		padding: 0 7px;
	}
	.text-color {
		color: #999;
		font-size: 14px;
		line-height: 24px;
		padding: 0 30px 10px 30px;
	}
	.text-border {
		border-width: 4px;
		padding-bottom: 5px;
		border-style: solid;
		border-image: linear-gradient(to right, #37bcb0 0%, #2db5e4 100%);
		border-image-slice: 1;
		padding: 20px;
		margin-top: 27px;
	}
}



@media screen and (max-width: 1124px) {
	.main-info {
		padding-bottom: 10px;
	}
	.main-info__functions {
		display: block;
	}
}

@media screen and (max-width: 992px){
	.tile {
		order: -1;
	}
	.main-info {
		flex-basis: 100%;
		padding: 10px 30px 10px 30px;
		order: 2;
	}
	.main-info__functions {
		display: inline-block;
	}
	.main-mac {
		order: 1;
	}

	.text-pc {
		&__item {
			padding: 48px 48px 30px 48px;
		}
	}

	.text-pc__item_flex .col-2 {
		width: 100%;
		padding: 0 !important;
	}
}

@media screen and (max-width: 767px) {
	.text-pc {
		.title {
			font-size: 26px;
		}
		&__item {
			padding: 30px 15px 30px 15px;
		}
		&__subtitle {
			font-size: 24px;
		}
		.text-color {
			padding: 0 10px;
		}
		.text-border {
			padding: 10px;
			margin-top: 0;
		}
	}

	.header__description {
		width: 100%;
		margin-left: 0;
	}
	.header {
		padding: 20px 0 20px 0;
	}
}

@media screen and (max-width: 673px) {
	.tile_list-item {
		padding-bottom: 32px;
	}
	.wrapper {
		padding: 20px
	}
}

@media screen and (max-width: 658px) {
	.footer__copyright {
		padding-top: 0;
	}
}

@media screen and (max-width: 576px) {
	.filter {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 564px) {
	.main-mac {
		display: none;
	}
	.main-section {
		justify-content: center;
		.main-info {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.main-info__functions {
		display: block;
	}
	.tile {
		/*padding-bottom: 0;*/
		padding: 20px 20px 0 20px;
		width: 100%;
	}
}

@media screen and (max-width: 466px) {

	.header {
		padding: 0;
		&__name {
			font-size: 20px;
		}
		&__description {
			font-size: 16px;
		}
	}

	.tile {
		&__stars {
			font-size: 20px;
		}
		&__rating {
			font-size: 20px;
		}
		&__text {
			font-size: 20px;
		}
	}

	.main-info__price {
		font-size: 26px;
		span {
			font-size: 14px;
		}
	}

	.footer__link {
		margin-left: 10px;
	}
}



