@-webkit-keyframes arrow-movement {
	0% {
		opacity: 0;
		top: -15px;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes arrow-movement {
	0% {
		opacity: 0;
		top: -15px;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes arrow-movement2 {
	0% {
		opacity: 0;
		top: -5px;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes arrow-movement2 {
	0% {
		opacity: 0;
		top: -5px;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes arrow-movement3 {
	0% {
		opacity: 0;
		top: 0px;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes arrow-movement3 {
	0% {
		opacity: 0;
		top: 5px;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media only screen and (min-width : 1441px) {
	.s-portfolio-pager{
		margin-top:120px;
	}
}


@media only screen and (min-width : 1399px) {
.s-services-line{
padding-top:70px;
}



}

@media only screen and (max-width : 1399px) {
	/*.section{min-height: 800px;height: auto !important;}*/
	.s-about{padding-top:70px;}
	.s-clients-contant{ 
		max-width: calc(100% - 212px);
		margin: 0px 106px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.s-clients-item{min-height:150px;}
	.s-contacts-contant{
		    max-width: 100%;
			padding: 0px 106px;
			    background-image: url(../img/contacts-bg.jpg);
	}
	.container{width: 100%;padding: 0 15px;}
	.s-services{padding-bottom: 80px;}
	.s-services-line{
	    max-width: 100%;
		padding: 0 91px;
		left:0;
	}
	.s-team-inner{left: auto;    right: 106px;}
	.s-services-item{
		    height: calc(100vh/2 - 40px);
			min-height: calc(100vh/2 - 40px);
	}
	.s-portfolio-slider-for.slick-initialized .slick-list .slick-slide img.img-responsive{height:400px; margin:0 auto;}

	.s-clients-item {
		min-height: 100px;
	}

	.s-clients-contant{
		    height: calc(100vh - 80px);
	}
	.s-portfolio-pager{
		margin-top: 17px;
	}
}


@media only screen and (max-width : 1300px) {
	.s-clients-item {
		min-height: 100px;
	}

	.s-clients-contant{
		    height: calc(100vh - 80px);
	}
}

@media only screen and (max-width : 1200px) {
	.s-team-inner{left: auto;right: 106px;}
	.s-portfolio-contant{padding: 0 65px;}
}

@media only screen and (max-width : 991px) {
	.s-header-list li{margin-right: 0;}
	.s-header-list{padding: 0 9px;z-index:1001;}
	.s-header-link{margin-right: 20px;margin-left: 20px;}
	.s-about-title{font-size: 50px;}
	.s-about-version li a{font-size: 27px;}
	.s-services-item{padding: 40px 50px;min-height: 320px;}
	.s-services-title{font-size: 30px;}
	.s-clients-item{min-height: 140px;}
	.s-clients{padding: 0px 0;min-height: 1px;}
	.s-contacts{min-height: 600px;}
	.s-contacts-info{top: 150px;}
	.s-portfolio{padding: 80px 0; min-height: 1px;}
	.s-portfolio-contant{position: relative;bottom: auto;}
	.s-clients-contant{position: relative;top: 0;}
	.s-portfolio-contant{padding: 0;}
	.s-portfolio-slider-for{padding: 0 65px;}

	.s-clients-contant{
		height: auto;
		max-width: calc(100% - 35px);
		margin: 0 20px;
	}
	.s-contacts-contant{
		padding:0 15px;
	}

	.s-services-line{
		padding:0 0;
	}

	.s-about{ background-image: url("../img/slide1-bg.jpg");}

	.overlay{display:none !important;}

	
}
@media only screen and (min-width : 991px) {
	.s-portfolio-slider-nav .slick-track, .s-portfolio-slider-nav  .slick-list{
		transform: translate3d(0, 0, 0) !important;
	}
}
@media only screen and (min-width : 768px) {
.s-header-list{display: block !important;}
}
@media only screen and (max-width : 767px) {
	.s-header-list{padding: 10px 0;width: 100%;background-color: #d03437;display: none;position: fixed;top: 80px;right: 0;}
	.btn-toggle{display: block;}
	.s-header-list li{display: block;}
	.s-header-list li a{padding: 15px 10px;padding-left: 25px;}
	.s-about-title{font-size: 43px;}
	.s-about-version li a{font-size: 21px;}
	.s-about-version li{margin-right: 20px;}
	.s-team-inner{position: relative;width: 100%;right: 0;top:80px;}
	.s-team{min-height: 1px;}
	.s-team-contant{padding: 0px 60px 30px 30px;}
	.s-about-arrow{left: 0;right: 0;margin: 0 auto;}
	.s-portfolio{overflow: hidden;}
	.s-clients{top:80px;}
	.s-clients, .s-services{height:auto !important;}

	.s-header-list{padding:10px 0 !important; }

	.s-team-inner{    height: calc(100vh - 160px); padding-top:20px; padding-bottom:20px;}
	.s-team-contant {  padding: 0px 30px 0px 30px;}

	.s-portfolio-slider-for.slick-initialized .slick-list .slick-slide img.img-responsive{
		height:auto !important;
	}
	.s-portfolio{padding-top: 210px;}

	.s-clients-img{
		width:50%;
	}
	
	.s-portfolio-pager-vh{
		     position: relative;
			bottom: 121px;
			display: block;
			margin-bottom: -121px;
	}

	.s-portfolio-pager-op{	

		display:none;
	}



}
@media only screen and (max-width : 479px) {
	.s-header-logo{max-width: 137px;margin-left: 0;}
	.s-header-link{margin-right: 15px;margin-left: 0;}
	.s-header-nav{float: right;}
	.s-about-title{font-size: 33px;}
	.s-about-info{font-size: 25px;}
	.s-about-list li{font-size: 16px;}
	.s-about-version li{margin-right: 0;margin-bottom: 10px;display: block;}
	.s-team-title1{font-size: 19px;}
	.s-team-title2{font-size: 18px;line-height: 1.5;}
	.s-team-list li{font-size: 16px;margin-bottom:10px;}
	.s-services-title{font-size: 20px;line-height: 1.4;}
	.s-services-item{min-height: 250px;padding: 40px 30px;}
	.s-about-version{padding-top:30px;}
	.s-team-inner{height:auto;top:0;padding-bottom:30px;}
	.s-team {height: auto !important;    margin-top: 80px;}
	.s-team-slider-item{
		margin-bottom:40px;
	}
	.s-about{
		padding-top:20px;
	}
	.s-portfolio {
		padding-top: 160px;
	}
}