// $base-text-color:#11263C;
// $base-bg-color:#fff;
$base-ff: 'Assistant', sans-serif;
$semibold-ff: 'Assistant-semi-bold', sans-serif;
$bold-ff: 'Assistant-bold', sans-serif;
$extrabold-ff: 'Assistant-extra-bold', sans-serif;
$base-font-weight: 400;
$base-border-radius: 4px;

$white: #fff;
$black: #1E1D1C;
$yellow: #F3B646;
$blue: #3498DB;
// $color-gray: #707070;
// $color-blue: #357ECD;
// $color-light-blue: #4F98CF;
// $color-orange: #F35C01;

$font-size-h1: 76px;
$font-size-h2: 43px;
$font-size-h3: 24px;

// $base-color-btn: $color-orange;
// $hover-color-btn:#A73F00;
// $pressed-color-btn:#762D00;
// $disabled-color-btn:#997661;

$default-transition: all 0.2s linear;